## Basic python

#### Variables

In [ ]:
print("hello world")

msg = "hello world"
print(msg)

msg = "hello world python"
print(msg)

In [ ]:
name = "suraphop"
frist_name = "suraphop"

In [ ]:
#example employee number

employee_number = "J6639"
emp_number = "J6639"
emp_no = "J6639"
emp = "J6639"

In [ ]:
#1name = "suraphop"
#name_1 = "suraphop"
#name-1 "suraphop"
#$name = "suraphop"

#### Data type

String

In [ ]:
msg = "Hello world"
msg = 'Hello world'

print("This 's easy to learn python")
print('This "s easy to learn python')

type(msg)

In [ ]:
msg1 = "hello"
msg2 = "world"

print(msg1+msg2)
print(msg1+" "+msg2)
print(msg1+" "+msg2+" python")
print(f"{msg1} {msg2} python")
print(f'{msg1} {msg2} python')

In [ ]:
"PYTHON".lower()
"python".upper()

Numberic Types

In [49]:
#interger

msg = "4"
type(msg)

#print(msg+1)
print(msg+"1")

41

In [47]:
msg = 4
print(type(msg))

print(msg+1)

<class 'int'>
5

In [52]:
#float
msg = 4.4
print(type(msg))

#interger + float = float
print(4+msg)
print(type(4+msg))

<class 'float'>
8.4
<class 'float'>

operator

In [53]:
3+4

7

In [54]:
3-4

-1

In [55]:
3*4

12

In [56]:
3/4

0.75

In [59]:
print(4/3)
print(round(4/3,2))
print(round(4/3,3))

1.3333333333333333
1.33
1.333

## CONSTANT

In [61]:
msg = "Hello world"
print(msg)
msg = "Hello world2"
print(msg)

Hello world
Hello world2

In [64]:
TEMPERRATURE_SCALE = "fahrenheit"
print(TEMPERRATURE_SCALE)

TEMPERRATURE_SCALE = "fahrenheit1"
print(TEMPERRATURE_SCALE)

fahrenheit
fahrenheit1

## Data structures

Lists

In [69]:
file_name = "one.xlsx"
print(type(file_name))
file_names = ["one.xlsx","two.xlsx","three.xlsx"]
print(type(file_names))

<class 'str'>
<class 'list'>

In [76]:
print(file_names)
print(file_names[0])
print(type(file_names[0]))
print(file_names[1])
print(file_names[2])
print(file_names[-1])
print(file_names[-2])

['one.xlsx', 'two.xlsx', 'three.xlsx']
one.xlsx
<class 'str'>
two.xlsx
three.xlsx
three.xlsx
two.xlsx