## Making report from google forms

Collecting data from google form

In [16]:
#install pandas
#!pip install pandas
#!pip install openpyxl

In [17]:
import pandas as pd

In [18]:
df = pd.read_excel(r"D:\My Documents\Desktop\python_office\src\data\sales_data\2021\January.xlsx")

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df

,transaction_id,store,status,transaction_date,plan,contract_type,amount
0,abfbdd6d,Chicago,ACTIVE,2019-01-01,Silver,NEW,14.25
1,136a9997,San Francisco,ACTIVE,2019-01-01,Gold,NEW,19.35
2,c6688f32,San Francisco,ACTIVE,2019-01-01,Bronze,NEW,12.20
3,6ef349c1,Chicago,ACTIVE,2019-01-01,Gold,NEW,19.35
4,22066f29,San Francisco,ACTIVE,2019-01-01,Silver,NEW,14.25
...,...,...,...,...,...,...,...
9488,b487a1a6,New York,ACTIVE,2019-01-31,Silver,NEW,14.25
9489,9ab1fb48,Boston,ACTIVE,2019-01-31,Bronze,NEW,12.20
9490,08766c08,San Francisco,ACTIVE,2019-01-31,Silver,NEW,14.25
9491,3e56df84,Boston,ACTIVE,2019-01-31,Bronze,NEW,12.20
9492,2f28e861,Washington DC,ACTIVE,2019-01-31,Bronze,NEW,12.20

In [21]:
pivote = pd.pivot_table(df,index="transaction_date",columns="store",values="amount",
aggfunc="sum",margins=True,margins_name="Total")
pivote

store,Boston,Chicago,Las Vegas,New York,San Francisco,Washington DC,Total
transaction_date,,,,,,,
2019-01-01 00:00:00,465.15,1277.25,269.70,1740.25,1739.20,355.15,5846.70
2019-01-02 00:00:00,621.80,1177.50,369.45,1833.85,1861.45,326.70,6190.75
2019-01-03 00:00:00,449.85,1204.95,302.25,1614.05,1736.20,286.95,5594.25
2019-01-04 00:00:00,600.45,1165.25,340.95,1712.95,1763.75,204.55,5787.90
2019-01-07 00:00:00,599.40,1197.80,395.90,1427.70,1967.20,265.65,5853.65
2019-01-08 00:00:00,698.05,987.05,215.70,2050.40,1866.45,344.05,6161.70
2019-01-09 00:00:00,590.25,1136.80,391.85,1909.30,1971.30,316.50,6316.00
2019-01-10 00:00:00,463.00,1027.80,408.10,1697.50,1714.85,247.30,5558.55
2019-01-11 00:00:00,578.00,1093.90,388.75,1974.45,2116.85,353.25,6505.20
2019-01-14 00:00:00,629.95,1103.25,388.75,2055.85,1939.65,295.20,6412.65
2019-01-15 00:00:00,646.25,804.90,354.20,1875.60,1854.30,319.60,5854.85
2019-01-16 00:00:00,691.10,1038.05,289.00,1872.55,2206.20,285.95,6382.85
2019-01-17 00:00:00,615.60,1293.40,288.95,1608.10,1962.05,205.55,5973.65
2019-01-18 00:00:00,653.30,1035.95,259.55,1873.55,1764.80,266.60,5853.75
2019-01-21 00:00:00,573.95,1278.30,208.65,2002.95,1672.10,300.15,6036.10
2019-01-22 00:00:00,555.60,1043.10,321.65,1853.40,1933.60,343.95,6051.30
2019-01-23 00:00:00,488.55,1060.50,229.95,1857.40,1918.40,245.30,5800.10
2019-01-24 00:00:00,587.30,1152.10,299.15,1900.15,1766.55,419.40,6124.65
2019-01-25 00:00:00,569.90,1255.90,275.75,2043.55,1673.05,264.60,6082.75
2019-01-28 00:00:00,639.10,1323.05,231.00,1679.15,1846.05,203.55,5921.90
2019-01-29 00:00:00,578.10,1128.65,530.25,1641.55,2170.80,231.00,6280.35
2019-01-30 00:00:00,820.25,1280.40,306.35,2105.75,1941.85,275.75,6730.35
2019-01-31 00:00:00,586.20,1206.80,150.60,1798.25,1582.60,158.70,5483.15
Total,13701.10,26272.65,7216.45,42128.25,42969.25,6515.40,138803.10

In [22]:
pivote.to_csv("export\sales_amount.csv")