## Excel to report

In [ ]:
# read file path
import os
import datetime
import pandas as pd

today = datetime.date.today()
year = today.year-1

path = os.getcwd() + "\data\sales_data" # change to my floder name

xlxs_file_lists = []

for root,dirs,files in os.walk(path):
      for name in files:
        file_path = os.path.join(root,name)
        #print(file_path.split("\\")[-2])
        if file_path.split("\\")[-2] == str(year): #change filter
            xlxs_file_lists.append(file_path)
xlxs_file_lists

In [ ]:
#export to dataframe
dfs = []
for f in xlxs_file_lists:
  #print(f.split("\\")[-1])
  df = pd.read_excel(f)
  df["file_name"] = f.split("\\")[-1]
  df["year"] = file_path.split("\\")[-2]
  df["amount_10x"] = df["amount"]*10
  dfs.append(df)
dfs

In [32]:
dfs_summary = pd.concat(dfs)

In [33]:
dfs_summary

,transaction_id,store,status,transaction_date,plan,contract_type,amount,file_name,year,amount_10x
0,7fb801a5,Chicago,ACTIVE,2019-04-01,Silver,NEW,14.25,April.xlsx,2022,142.5
1,8e8bdb2a,San Francisco,ACTIVE,2019-04-01,Silver,NEW,14.25,April.xlsx,2022,142.5
2,239db9b6,Washington DC,ACTIVE,2019-04-01,Silver,NEW,14.25,April.xlsx,2022,142.5
3,7ccb13ab,San Francisco,ACTIVE,2019-04-01,Gold,NEW,19.35,April.xlsx,2022,193.5
4,c18e82d9,Chicago,ACTIVE,2019-04-01,Bronze,NEW,12.20,April.xlsx,2022,122.0
...,...,...,...,...,...,...,...,...,...,...
7347,53a449b0,New York,ACTIVE,2019-09-30,Silver,NEW,14.25,September.xlsx,2022,142.5
7348,35b46c26,Boston,ACTIVE,2019-09-30,Silver,NEW,14.25,September.xlsx,2022,142.5
7349,9e498c85,Chicago,ACTIVE,2019-09-30,Silver,NEW,14.25,September.xlsx,2022,142.5
7350,5841d16e,San Francisco,ACTIVE,2019-09-30,Silver,NEW,14.25,September.xlsx,2022,142.5
7351,86937799,Chicago,ACTIVE,2019-09-30,Gold,NEW,19.35,September.xlsx,2022,193.5