#### Pandas

In [ ]:
#!pip install pandas

In [ ]:
#!conda list

In [ ]:
import pandas as pd

Dataframe

In [ ]:
datas = [
    ["Mark",55,"Italy",4.5,"Europe"],
    ["john",33,"USA",6.9,"America"],
     ["tim",41,"USA",3.9,"America"],
]
columns = ["name","age","country","score","continent"]

df = pd.DataFrame(data=datas,columns=columns)
df

In [ ]:
df = pd.read_csv("lifesat.csv")
df

In [ ]:
#!pip install openpyxl
df = pd.read_excel("lifesat.xlsx") #xls xlsx
df

In [ ]:
df = pd.read_csv("D:\\data_pandas\\lifesat.csv")
df

In [ ]:
df = pd.read_csv("D:/data_pandas/lifesat.csv")
df

In [ ]:
import os
path = os.getcwd()
path = path + "\\data\\sales_data"
print(path)

file_extension = ".xlsx"
xlxs_file_list = []

for root,dirs,files in os.walk(path):
    for name in files:
        if name.endswith(file_extension):
            file_path = os.path.join(root,name)  
            xlxs_file_list.append(file_path)
#print(xlxs_file_list)

In [ ]:
dfs = []
for f in xlxs_file_list:
    df = pd.read_excel(f)
    dfs.append(df)
dfs

In [ ]:
len(dfs)

In [ ]:
dfs[3]

In [ ]:
# API
#!pip install requests
import requests

url = "https://covid19.ddc.moph.go.th/api/Cases/today-cases-all"
res = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
data = res.json()
print(data)
df = pd.DataFrame.from_dict(data)
df

In [ ]:
# API
#!pip install requests
import requests

url = "https://covid19.ddc.moph.go.th/api/Cases/today-cases-by-provinces"
res = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
data = res.json()
#print(data)
df = pd.DataFrame.from_dict(data)
df

In [ ]:
# sql server
#!pip install pypyodbc
import pypyodbc

cnxn = pypyodbc.connect("Driver= {SQL Server};"
                        "Server=192.168.1.101\SQLEXPRESS;"
                        "Database=test;"
                        "uid=sa;pwd=sa@admin")
df = pd.read_sql_query("SELECT * FROM [test].[dbo].[table1] ",cnxn)
#df = pd.read_sql_query("SELECT * FROM [test].[dbo].[table1] where test1 =1",cnxn)
df

In [ ]:
datas = [
    ["Mark",55,"Italy",4.5,"Europe"],
    ["john",33,"USA",6.9,"America"],
     ["tim",41,"USA",3.9,"America"],
]
columns = ["name","age","country","score","continent"]

df = pd.DataFrame(data=datas,columns=columns)
df

index

In [ ]:
df.index

In [ ]:
df.index.name = "user_id"
df

In [ ]:
df.reset_index()

In [ ]:
df.set_index("name")

In [ ]:
df.reset_index()

In [ ]:
df.sort_index()

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.sort_values(["continent"])

In [ ]:
df.sort_values(["continent","age"])

In [ ]:
df.sort_values(["continent","age"],ascending=False)

Columns

In [ ]:
datas = [
    ["Mark",55,"Italy",4.5,"Europe"],
    ["john",33,"USA",6.9,"America"],
     ["tim",41,"USA",3.9,"America"],
]
columns = ["name","age","country","score","continent"]

df = pd.DataFrame(data=datas,columns=columns)
df

In [ ]:
df.columns

In [ ]:
df_renames = df.copy()
df_renames

In [ ]:
df_renames.rename(columns={"name": "frist name","age":"AGE"},inplace=True)

In [ ]:
df_renames

In [ ]:
df

drop

In [ ]:
df

In [ ]:
df.drop(columns=["score","continent"])

In [ ]:
df

Transpose

In [ ]:
df

In [ ]:
df.T

#### Data Manipulation

selecting data

In [ ]:
df

In [ ]:
df.loc[0,"name"]

In [ ]:
df.loc[0,"age"]

In [ ]:
df.loc[:1,"age"] #slicing

In [ ]:
df.loc[[0,1],"age"] #list

In [ ]:
df.loc[:2,["name","country"]]

In [ ]:
df.iloc[0,0]

In [ ]:
df.iloc[0,2]

In [ ]:
tfs = df["age"] > 40
df.loc[tfs,:]

In [ ]:
df[df["age"] > 40]

In [ ]:
df[(df["age"] > 40) & (df["country"] == "USA") ]  # and

In [ ]:
df[(df["age"] > 40) | (df["country"] == "USA") ] # or

In [ ]:
df

example1 : 
- score >4 and continent is Europe or America
example2 : 
- age >40 and continent is Europe or America

In [ ]:
df[(df['score'] > 4) & ((df['continent'] == "Europe") | (df['continent'] == "America") )]

In [ ]:
df[(df['age'] > 40) & ((df['continent'] == "Europe") | (df['continent'] == "America") )]

In [ ]:
df[df["country"].isin(["Italy"])]

In [ ]:
country = "Italy"

df[df["country"].isin([country])]

Update data

In [ ]:
df

In [ ]:
df_update = df.copy()

In [ ]:
df_update

In [ ]:
df_update.loc[1,"name"] = "JOHN"
df_update

In [ ]:
tfs = df_update["age"] > 45
df_update.loc[tfs,"score"] = 9.9
df_update

In [ ]:
#df_update[df_update["age"] > 45]["score"] = 1.1
#df_update

In [ ]:
df_update.replace("USA", "U.S")

In [ ]:
df_update

In [ ]:
df_update["discount"] = 1
df_update

In [ ]:
df_update["price"] = [49,48,99]
df_update

In [ ]:
df_update["birthday"] = 2023-df["age"]
df_update

Missing data

In [ ]:
df_update

In [ ]:
df_update.loc[0,"score"] = None
df_update

In [ ]:
df_update.isna()

In [ ]:
df_update.fillna({"score":0})

In [ ]:
df_update.loc[0,"score"] = None
df_update

In [ ]:
df_update.dropna()

Duplicate data

In [ ]:
df_dup = df.copy()
df_dup

In [ ]:
df_dup["country"].is_unique

In [ ]:
df_dup["country"].unique()

In [ ]:
df_dup["age"].is_unique

In [ ]:
df_dup.drop_duplicates(["country"])

#### Combining dataframes

Concatenating

In [ ]:
df

In [ ]:
datas = [
    [15,"france",4.1,"Becky"],
    [44,"Canada",6.4,"Leanne"]
]
more_users = pd.DataFrame(data=datas,
                            columns=["age","country","score","name"])
more_users

In [ ]:
pd.concat([df,more_users])

In [ ]:
datas = [
    [15,"france",4.1,"Becky"],
    [44,"Canada",6.4,"Leanne"]
]
more_users = pd.DataFrame(data=datas,
                            columns=["age1","country1","score1","name1"])
more_users

In [ ]:
pd.concat([df,more_users])

Joining and merge

In [ ]:
df1 = pd.DataFrame(data= [
    [1,2],
    [3,4],
    [5,6]
],
    columns=["A","B"]
    )

df1

In [ ]:
df2 = pd.DataFrame(data= [
    [10,20],
    [30,40],
],
    columns=["C","D"]
    )

df2

In [ ]:
df1.join(df2,how="inner")

In [ ]:
df1.join(df2,how="left")

In [ ]:
df1.join(df2,how="right")

In [ ]:
df1.join(df2,how="outer")

In [ ]:
df1["category"] = ["a","b","c"]
df2["category"] = ["c","b"]

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.merge(df2,how="inner",on=["category"])

#### Data Aggregation and Descripive Statistics

Descripive Statistics

In [ ]:
rainfall = pd.DataFrame(data= {
                                "City 1": [300.111,100.222],
                                "City 2" : [400.333,300.444],
                                "City 3" : [10000.555,1100.666]
})
rainfall

In [ ]:
rainfall.mean()

In [ ]:
rainfall.mean(axis=1)

In [ ]:
rainfall.sum()

In [ ]:
rainfall.sum(axis=1)

Grouping

In [ ]:
df

In [ ]:
df.groupby(["continent"]).mean()

In [ ]:
df.groupby(["continent"]).sum()

Pivoting

In [ ]:
datas = [
    ["orange","north",12.30],
    ["apple","south",10.55],
    ["orange","south",22.00],
    ["banana","south",5.9],
    ["banana","south",31.3],
    ["orange","north",13.10]
]

sales = pd.DataFrame(data=datas,columns=["fruit","region","revenue"])
sales

In [ ]:
pivot = pd.pivot_table(sales,index="fruit",
columns="region",values="revenue",
aggfunc="sum",margins=True,margins_name="Total")
pivot.fillna({"north":0})

Example:
 sum sales  amount -> jan 2021

In [ ]:
df = pd.read_excel("data/sales_data/2021/January.xlsx")
df

In [ ]:
df.isna().sum()

In [183]:
df

,transaction_id,store,status,transaction_date,plan,contract_type,amount
0,abfbdd6d,Chicago,ACTIVE,2019-01-01,Silver,NEW,14.25
1,136a9997,San Francisco,ACTIVE,2019-01-01,Gold,NEW,19.35
2,c6688f32,San Francisco,ACTIVE,2019-01-01,Bronze,NEW,12.20
3,6ef349c1,Chicago,ACTIVE,2019-01-01,Gold,NEW,19.35
4,22066f29,San Francisco,ACTIVE,2019-01-01,Silver,NEW,14.25
...,...,...,...,...,...,...,...
9488,b487a1a6,New York,ACTIVE,2019-01-31,Silver,NEW,14.25
9489,9ab1fb48,Boston,ACTIVE,2019-01-31,Bronze,NEW,12.20
9490,08766c08,San Francisco,ACTIVE,2019-01-31,Silver,NEW,14.25
9491,3e56df84,Boston,ACTIVE,2019-01-31,Bronze,NEW,12.20
9492,2f28e861,Washington DC,ACTIVE,2019-01-31,Bronze,NEW,12.20

In [191]:
pivote = pd.pivot_table(df,index="transaction_date",columns="store",values="amount",
aggfunc="sum",margins=True,margins_name="Total")
pivote

store,Boston,Chicago,Las Vegas,New York,San Francisco,Washington DC,Total
transaction_date,,,,,,,
2019-01-01 00:00:00,465.15,1277.25,269.70,1740.25,1739.20,355.15,5846.70
2019-01-02 00:00:00,621.80,1177.50,369.45,1833.85,1861.45,326.70,6190.75
2019-01-03 00:00:00,449.85,1204.95,302.25,1614.05,1736.20,286.95,5594.25
2019-01-04 00:00:00,600.45,1165.25,340.95,1712.95,1763.75,204.55,5787.90
2019-01-07 00:00:00,599.40,1197.80,395.90,1427.70,1967.20,265.65,5853.65
2019-01-08 00:00:00,698.05,987.05,215.70,2050.40,1866.45,344.05,6161.70
2019-01-09 00:00:00,590.25,1136.80,391.85,1909.30,1971.30,316.50,6316.00
2019-01-10 00:00:00,463.00,1027.80,408.10,1697.50,1714.85,247.30,5558.55
2019-01-11 00:00:00,578.00,1093.90,388.75,1974.45,2116.85,353.25,6505.20
2019-01-14 00:00:00,629.95,1103.25,388.75,2055.85,1939.65,295.20,6412.65
2019-01-15 00:00:00,646.25,804.90,354.20,1875.60,1854.30,319.60,5854.85
2019-01-16 00:00:00,691.10,1038.05,289.00,1872.55,2206.20,285.95,6382.85
2019-01-17 00:00:00,615.60,1293.40,288.95,1608.10,1962.05,205.55,5973.65
2019-01-18 00:00:00,653.30,1035.95,259.55,1873.55,1764.80,266.60,5853.75
2019-01-21 00:00:00,573.95,1278.30,208.65,2002.95,1672.10,300.15,6036.10
2019-01-22 00:00:00,555.60,1043.10,321.65,1853.40,1933.60,343.95,6051.30
2019-01-23 00:00:00,488.55,1060.50,229.95,1857.40,1918.40,245.30,5800.10
2019-01-24 00:00:00,587.30,1152.10,299.15,1900.15,1766.55,419.40,6124.65
2019-01-25 00:00:00,569.90,1255.90,275.75,2043.55,1673.05,264.60,6082.75
2019-01-28 00:00:00,639.10,1323.05,231.00,1679.15,1846.05,203.55,5921.90
2019-01-29 00:00:00,578.10,1128.65,530.25,1641.55,2170.80,231.00,6280.35
2019-01-30 00:00:00,820.25,1280.40,306.35,2105.75,1941.85,275.75,6730.35
2019-01-31 00:00:00,586.20,1206.80,150.60,1798.25,1582.60,158.70,5483.15
Total,13701.10,26272.65,7216.45,42128.25,42969.25,6515.40,138803.10

In [194]:
pivote.to_csv("export/sales_amount.csv")

### Function

In [1]:
from datetime import datetime
import pandas as pd
# print(today)
# print(today.month)
# print(today.year)
#print(convert_month[str(today.month)])

def report_sale_amount():
    """making sale amount daily report from csv"""
    convert_month = {"1": "January",
"2":"February" }
    today = datetime.now()
    df = pd.read_excel(f"data/sales_data/{today.year}/{convert_month[str(today.month)]}.xlsx")
    pivote = pd.pivot_table(df,index="transaction_date",columns="store",values="amount",
    aggfunc="sum",margins=True,margins_name="Total")
    pivote.to_csv(f"export/sales_amount_function_{today.year}_{today.month}_{today.day}.csv")

report_sale_amount()

In [2]:
from report_daily import report_sale_amount
report_sale_amount()